<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP</title>
</head>
<body style="background-color:#112">
    <form style="margin-top: 260px; color:bisque" action="" method="POST">
        {% csrf_token %}
        <center>
         
        <label for="number">OTP</label>
        <input type="number" placeholder="Enter OTP" name='otp'><br><br>
        <button type="submit">LOGIN</button>
    </center>
    </form>
</body>
</html>